# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created] # 仅当创建 Release 时触发

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Set up Git user
        run: |
          git config --global user.name "tianlukang"
          git config --global user.email "tianlukang123@163.com"
      - name: Bump version (optional) # 自动更新版本号
        run: npm version patch 
      - name: Commit changes (if needed)
        run: |
          git add .
          git commit -m "Bump version" || echo "No changes to commit"
          git push origin main
      - name: npm install
        run: npm install
      - name: Rollup build
        run: npm run prepublishOnly
     
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.githubPublishToken}}
